[[source]]
url = "http://pypi.douban.com/simple"
verify_ssl = false
name = "pypi"


[requires]

python_version = "3.6"


[packages]

flask = "*"
pymysql = "*"
flask-sqlalchemy = "*"
requests = "*"
flask_redis = "*"
flask-cache = "*"
flask-bcrypt = "*"
flask-login = "*"
bcrypt = "*"
jwt = "*"
flask-mail = "*"


[dev-packages]

flask-script = "*"
