{% extends("layout.html") %}

{% block content %}
    <div class="panel">
        <div class="panel-heading">
            Flask IT介绍
        </div>
        <div class="panel-body">
            <h3>Flask IT是基于Flask构建的一个IT管理网站。</h3>
            <ul>
                <li>动态自动加载功能目录</li>
                <li>图形化功能管理</li>
                <li>账号管理（登录，添加账号，更新账号，找回密码）</li>
                <li>多权限组管理</li>
            </ul>

        </div>
    </div>
    <div class="panel">
        <div class="panel-heading">
            安装方法
        </div>
        <div class="panel-body">
            <p>1. 安装依赖</p>
            <p><code>pip install -r requirements.txt</code></p>
            <p>2. 创建数据库 <code></code> </p>
            <p><code>create user 'flaskit'@'%' identified by "flaskit";</code></p>
            <p><code>grant all on flaskit.* to 'flaskit'@'%';</code></p>
            <p><code>create database flaskit DEFAULT CHARACTER SET utf8 COLLATE utf8_bin;</code></p>
            <p>3.导入数据库</p>
            <p><code>mysql -uroot < db_schema/flaskit.sql</code></p>
            <p>4.启动应用</p>
            <p><code>python run.py</code></p>
            <p>5.浏览器网问：http://127.0.0.1:5000</p>
            <p><code>账号：admin  密码：123456</code>
        </p>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading">
            作者介绍
        </div>
        <div class="panel-body">
            <p>作者：潘晓华</p>
            <p>邮箱：pxhua@aliyun.com</p>
        </div>
    </div>

{% endblock %}