<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/zui/css/zui.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    {% block head %}{% endblock %}
    <title>豆花 IT</title>
</head>
<body>
<div class="container-fluid">
    {% block body %}{% endblock %}
</div>


<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/zui/js/zui.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/common.js') }}"></script>
{% block script %}{% endblock %}

</body>
</html>